# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/



# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db
.vs/IDC/v15/Server/sqlite3/storage.ide-shm,.vs/IDC/v15/Server/sqlite3/storage.ide,.vs/IDC/v15/Server/sqlite3/db.lock,.vs/IDC/v15/sqlite3/storage.ide-wal,.vs/IDC/v15/sqlite3/storage.ide-shm,.vs/IDC/v15/sqlite3/db.lock,.vs/IDC/v15/Server/sqlite3/storage.ide-wal
.vs/IDC/v15/sqlite3/storage.ide-shm
.vs/IDC/v15/sqlite3/db.lock
.vs/IDC/v15/Server/sqlite3/storage.ide-wal
.vs/IDC/v15/Server/sqlite3/storage.ide-shm
.vs/IDC/v15/Server/sqlite3/storage.ide
.vs/IDC/v15/Server/sqlite3/db.lock
